
*{font-family:sans-serif;}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

input {
    height: 30px;
    border: 2px solid #ccc;
}

button {
    height: 30px;
    border: 2px solid #ccc;
}

.selected {
    border: 2px solid #686868;
}

.settings { 
    display: flex; 
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.sizeControl {
    display: flex; 
    justify-items: center;
    align-items: center;
    max-height: 26px;
    border: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

.feeds {
    display: flex; 
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}


#paint {
    background : #000; 
    display: block;
}

#result {
    background : #000; 
    display: block;
    width: 512px;
    height: 512px;
}